body {
font-family: Roboto, Arial, sans-serif;
color: #212121;
font-size: 14px;
line-height: 1.5;
}

.page-header {

}

.site-nav {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    
        color: #212121;

}

/* Верхня лінія */ /* top line bg */

/* WebStudio */

/* Студія */
.studio {
color: #212121;
}
.studio:hover {
color: #2196F3;
}
/* Портфоліо */

/* Контакти */

/* info@devstudio.com */
.contact-link-email {
     color: #2196F3;
}
/* +38 096 111 11 11 */
.contact-link-phone {
     color: #757575;
}

/* Секція 1 */

/* Шапка */

/* Bg */

/* Ефективні рішення для вашого бізнесу */

/* Button */

/* Замовити послугу */


/* Секція 2 */

/* Особливості */

/* УВАГА ДО ДЕТАЛЕЙ */
/* Ідейні міркування, і навіть початок повсякденної роботи з формування позиції. */

/* ПУНКТУАЛЬНІСТЬ */
/* Завдання організації, особливо рамки і місце навчання кадрів тягне у себе. */

/* ПЛАНУВАННЯ */
/* Так само консультація з широким активом значною мірою зумовлює. */

/* СУЧАСНІ ТЕХНОЛОГІЇ */
/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */

/* Секція 3 */
/* Чим ми займаємося */

/* box 1 */

/* box 2 */

/* box 3 */


/* Секція 4 */ /* Section bg */
/* Наша команда */

/* team */

/* team card 1 */
/* img */
/* Ігор Дем'яненко */
/* Product Designer */
/* card bg */

/* team card 2 */
/* img */
/* Ольга Рєпіна */
/* Frontend Developer */
/* card bg */

/* team card 3 */
/* img */
/* Микола Тарасов */
/* Marketing */
/* card bg */

/* team card 4 */
/* img */
/* Михайло Єрмаков */
/* UI Designer */
/* card bg */


/* Підвал */ /* Footer bg */

/* WebStudio */

/* identical to box height */

/* м. Київ, пр-т Лесі Українки, 26 */

/* or 171% */

/* info@devstudio.com */

/* +38 096 111 11 11 */

